<!doctype html>

<html>
  <head>

    <title>{{ aPage.strTitle }}</title>

    <meta name="description" content="{{ aPage.strDescription }}">

  </head>
  <body>
    <h1>La frase que necesitas</h1>

    <div>{{ strPhrase }}</div>
  </body>
</html>